<a href="https://colab.research.google.com/github/Sathwikareddy890/pythonbootcamp/blob/main/day3_pybasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
fruits=['apple','banana','dragon','mango','kiwi']
for x in fruits:
        print(x)

apple
banana
dragon
mango
kiwi

In [12]:
for x in fruits:
  if x=='mango':
    break
  print(x)

apple
banana
dragon

In [13]:
fruits=['apple','banana','dragon','mango','kiwi']
for x in fruits:
  if x == 'mango':
    continue
  print(x)

apple
banana
dragon
kiwi

In [14]:
#while
num=1
while num<5:
  print(num)
  num+=1

1
2
3
4

In [17]:
num=2
while num<6:
  num+=1
  if num==5:
    break
  print(num)

3
4

In [19]:
num=1
while num<6:
  num+=1
  if num==5:
    continue
  print(num)

2
3
4
6

In [21]:
#FUNCTIONS
#function is a block of code which runs only when it is called
#advanced functions : lambda , map,zip
def my_function(): #function defining
  print("hello there iam sathwika")
my_function()   #function calling

hello there iam sathwika

In [24]:
def my_id(number):                               #functions with arguments
  print("sreedevi student_"+ number)
my_id("21d21a0416")

sreedevi student_21d21a0416

In [27]:
def add(a,b,c):
  return a+b+c
print(add(3,4,5))

12

In [28]:
#using lamba function
add=lambda a,b,c: print(a+b+c)
add(4,5,1)

10

In [30]:
#map function     (we can pass multiple values at the same time)

names=["lucy","frooti","joya","abhi"]
def id(n):
  print("hello"+n)
stu=map(id,names)
print(list(stu))

hellolucy
hellofrooti
hellojoya
helloabhi
[None, None, None, None]

In [31]:
#zip functions
name=["nikil","hari","manjula"]
id=[1,2,3]
print(list(zip(name,id)))

[('nikil', 1), ('hari', 2), ('manjula', 3)]